{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'core/css/style.css' %}>
  </head>

<body style="background-color: #e9ecef;">

    {% include 'core/barra-navegacion.html' %}
    
    <main class="container shadow-sm" style="background-color: #f8f9fa; ">

      <div class="row mb-3 d-flex align-items-center justify-content-center" style="padding-top: 20px; " >
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner rounded shadow">
            <div class="carousel-item">
              <img src={% static 'core/img/biblioteca.jpg' %} class="d-block w-100 dark-image" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <a style="text-decoration: none; color:white" href="/Secciones/seccion-literatura.html"><h5>literatura</h5>
                <p>Revisa la seccion de literatura.</p></a>
              </div>
            </div>
            <div class="carousel-item active">
              <img src={% static 'core/img/cocina.jpg' %} class="d-block w-100 dark-image" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <a style="text-decoration: none; color:white" href="/Secciones/seccion-cocina.html"><h5>Cocina</h5>
                <p>Revisa la seccion de Cocina.</p></a>
              </div>
            </div>
            <div class="carousel-item">
              <img src={% static 'core/img/cr7.jpg' %} class="d-block w-100 dark-image" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <a style="text-decoration: none; color:white" href="/Secciones/seccion-deportes.html"><h5>Deportes</h5>
                <p>Revisa la seccion de deportes.</p></a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    
      <hr>
      
      <div class="row">
        <div class="col-md-8">
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">La huella dejada por un clásico de la literatura en la obra de autores modernos</h2>
            <p class="blog-post-meta">Febrero 3, 2023 por <a href="">Diego Venegas</a></p>
    
            <p>No quiero dejar de recordar a dos escritores de los que se acaba de conmemorar el bicentenario de su nacimiento: el ruso Fiódor Dostoyevski y el francés Gustave Flaubert. Entre ellos se llevaban tan solo un...</p>
            <p class="mb-0  text-left"><a href="/html/Publicación Diego/Publicacion-1.html"> seguir leyendo...</a></p>
          </article>
          <hr>
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">Uno de los mejores platos de la comida italiana</h2>
            <p class="blog-post-meta">Marzo 27, 2023 por <a href="">Danilo Luque</a></p>
    
            <p>¿Quires sorprender a tu pareja, amigo, amiga, hermano , hermana, padres, etc? Puedes hacerlo con este espectacular risotto de champiñones. Un espectacualar platillo de la cocina italiana traido directamente a tu mesa.</p>
            <p class="mb-0  text-left"><a href="/html/Publicación Danilo/post1D.html"> Seguir leyendo...</a></p>
          </article>
    
          <hr>
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">El tremendo presente de Humberto Suazo</h2>
            <p class="blog-post-meta">Marzo 25, 2023 por <a href="">Rodrigo Freire Galindo</a></p>
    
            <p>El regreso de Humberto Suazo a San Luis ha sido espectacular. El delantero aterrizó en la Primera B, y rápidamente se convirtió en el goleador de la categoría.</p>
            <p class="mb-0  text-left"><a href="/html/Publicación Rodrigo/publi_1.html"> Seguir leyendo...</a></p>
          </article>
        </div>
    
        <div class="col-md-4">
          <div  style="top: 2rem;">
            <div class="p-4 mb-3 rounded" style="background-color: #e9ecef">
              <h4 class="fst-italic">Sobre nosotros</h4>
              <p class="mb-0">Somos un equipo apasionado de expertos en deportes, gastronomía y literatura que comparten su experiencia y conocimientos en nuestro blog. Nuestro objetivo es proporcionar contenido informativo y entretenido que enriquezca la vida de nuestros lectores y les permita disfrutar de lo que les apasiona. Gracias por unirte a nuestra comunidad.</p>
            </div>
          </div>
        </div>
      </div>
      
      {% include 'core/footer.html' %}

  </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>
