<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/imagenes-perfil.css' %}">
  </head>

<body style="background-color: #e9ecef;">

    {% include 'core/barra-navegacion.html' %}
    
    <main class="container shadow-sm" style="background-color: #f8f9fa; ">

        <section class="h-100 gradient-custom-2">
        
              <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="text-white d-flex flex-row" style="background-color: #222; height:200px;">
                      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img src="{{usuario.imagen.url}}" alt="" class="img-fluid img-thumbnail mt-4 mb-2"style="width: 150px; z-index: 1">

                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"style="z-index: 1;">Editar perfil</button>

                      </div>
                      <div class="ms-3" style="margin-top: 130px;">
                        <h5>{{usuario.username}}</h5>
                        <p>{{usuario.rol}}</p>
                      </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                      <div class="d-flex justify-content-end text-center py-1">
                        <div class="px-3">
                          <p class="mb-1 h5">{{publicaciones.count}}</p>
                          <p class="small text-muted mb-0">Publicaciones</p>
                        </div>
                        <div>
                          <p class="mb-1 h5">{{comentarios.count}}</p>
                          <p class="small text-muted mb-0">Comentarios</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-4 text-black">
                      <div class="mb-5">
                        <p class="lead fw-normal mb-1">Sobre mi</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                          <p class="font-italic mb-1">{{usuario.biografia}}</p>
                        </div>
                      </div>

                        <div class="d-flex justify-content-between align-items-center mb-4">
                          <p class="lead fw-normal mb-0">Publicaciones recientes</p>
                        </div>
   
                        <div class="row g-2">
                          {% for publicacion in publicaciones|slice:":4" %}
                          <div class="col mb-2">
                            <div class="image-container">
                              <a href={% url 'publicacion' publicacion.id %}>
                                <img src="{{ publicacion.imagen.url }}" alt="" class="w-100 rounded-3">
                                <div class="image-overlay d-flex align-items-center justify-content-center rounded-3">
                                  <span class="image-title text-truncate">{{publicacion.titulo}}</span>
                                </div>
                              </a>
                            </div>
                          </div>
                          {% endfor %}
                        </div>

                      </div>
                    </div>
                  </div>
            </div>
          </section>
      
      {% include 'core/footer.html' %}

  </main>
  </body> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>
