<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'core/css/style.css' %}>

    <!-- Agregar el archivo jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Agregar tu archivo eliminar_comentarios.js -->
    <script src="../js/eliminar_publicacion.js"></script>

  </head>
<body style="background-color: #e9ecef;">

  {% include 'core/barra-navegacion.html' %}
    
<main class="container shadow-sm" style="background-color: #f8f9fa;">
  
  <div class="row" style="padding-top: 20px;">
    <div class="col">

      <article class="post" id="diego1">
        <h2 class="blog-post-title mb-1">La huella dejada por un clásico de la literatura en la obra de autores modernos</h2>
        <p class="blog-post-meta">Febrero 3, 2023 por <a href="">Diego Venegas</a></p>

        <p>No quiero dejar de recordar a dos escritores de los que se acaba de conmemorar el bicentenario de su nacimiento: el ruso Fiódor Dostoyevski y el francés Gustave Flaubert. Entre ellos se llevaban tan solo un...</p>
        <p class="mb-0  text-left"><a href="/html/Publicación Diego/Publicacion-1.html"> seguir leyendo...</a></p>
        <br>
        <button type="button" class="borrar-post btn btn-danger">Borrar post</button>
      </article>
      <hr>

      <article class="post" id="dan1">
        <h2 class="blog-post-title mb-1">Uno de los mejores platos de la comida italiana</h2>
        <p class="blog-post-meta">Marzo 27, 2023 por <a href="">Danilo Luque Rojas</a></p>

        <p>¿Quires sorprender a tu pareja, amigo, amiga, hermano , hermana, padres, etc? Puedes hacerlo con este espectacular risotto de champiñones. Un espectacualar platillo de la cocina italiana traido directamente a tu mesa.</p>
        <p class="mb-0  text-left"><a href="Publicación Danilo/post1D.html" > seguir leyendo...</a></p>
        <br>
        <button type="button" class="borrar-post btn btn-danger">Borrar post</button>
      </article>

      <hr>

      <article class="post" id="rodrigo1">
        <h2 class="blog-post-title mb-1">El tremendo presente de Humberto Suazo</h2>
        <p class="blog-post-meta">Marzo 25, 2023 por <a href="">Rodrigo Freire Galindo</a></p>

        <p>El regreso de Humberto Suazo a San Luis ha sido espectacular. El delantero aterrizó en la Primera B, y rápidamente se convirtió en el goleador de la categoría</p>
        <p class="mb-0  text-left"><a href="/html/Publicación Rodrigo/publi_1.html"> Seguir leyendo...</a></p>
        <br>
        <button type="button" class="borrar-post btn btn-danger">Borrar post</button>
      </article>
    </div>

    <hr>

    <article class="post" id="diego2">
      <h2 class="blog-post-title mb-1">Gabriela Mistral: única mujer iberoamericana que ha obtenido el Premio Nobel</h2>
      <p class="blog-post-meta">Febrero 10, 2023 por <a href="">Diego Venegas</a></p>

      <p>Hace sesenta años, un diez de diciembre, Gabriela Mistral recibió el primer Premio Nobel de Literatura otorgado en el Nuevo Mundo. Es hasta la fecha la única mujer que...</p>
      <p class="mb-0  text-left"><a href="/html/Publicación Diego/Publicacion-2.html"> seguir leyendo...</a></p>
      <br>
      <button type="button" class="borrar-post btn btn-danger">Borrar post</button>
      <br><br>
    </article>
    <hr>
    

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="/html/posts.html">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="posts.html">1</a></li>
          <li class="page-item"><a class="page-link" href="posts_2.html">2</a></li>
          <li class="page-item"><a class="page-link" href="posts_3.html">3</a></li>
          <li class="page-item"><a class="page-link" href="posts_2.html">Siguiente</a></li>
        </ul>
      </nav>
    
      {% include 'core/footer.html' %}
      
  </div>
  </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
