<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <!-- jQuery 3.6.4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Archivo JS para eliminar comentarios -->
    <script src="js/eliminar_comentarios.js"></script>

  </head>

<body style="background-color: #e9ecef;">

    <nav class="navbar container navbar-expand-lg" style="padding: 15px; background-color: #dee2ff; margin: auto;">
        <a class="navbar-brand" href="/html/index.html">BDG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/html/index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/html/posts.html">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/html/donacion.html">Donar</a>
            </li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Buscar</button>
            </form>
          </ul>
          <button class="btn btn-outline-primary" type="submit" onclick="location.href='login.html'">Login</button>
          <button class="btn btn-primary" type="submit" style="margin-left: 5px;" onclick="location.href='registrar.html'">Registrarse</button>
        </div>
      </div>
    </nav>
    
<main class="container shadow-sm" style="background-color: #f8f9fa; ">

    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="">
                <!-- Post content-->
                <article class="container">
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">El tremendo presente de Humberto Suazo</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Publicado el 25 de Marzo del 2023</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Deportes</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Fútbol Chileno</a>
                    </header>
                    <!-- Preview image figure-->
                    <img class="img-fluid rounded " src="https://static.emol.cl/emol50/Fotos/2023/03/15/file_20230315170436.jpg" alt="Imagen no disponible" />
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">El regreso de Humberto Suazo a San Luis ha sido espectacular. El delantero aterrizó en la Primera B, y rápidamente se convirtió en el goleador de la categoría.</p>
                        <p class="fs-5 mb-4">Además, el conjunto de la Quinta Región escaló a la cima de la tabla de posiciones, con 12 puntos de 15 posibles, luego del reciente triunfo sobre Santiago Wanderers por 2-0. El autor de uno de los tantos quillotanos fue el propio "Chupete".</p>
                        <p class="fs-5 mb-4">Con esa anotación, el sanantonino llegó a cuatro dianas, tras disputarse las primeras cinco jornadas de la Primera B. Ya había marcado en dos ocasiones ante Unión San Felipe, y una vez ante Deportes Iquique.</p>
                        <h2 class="fw-bolder mb-4 mt-5">Mira los goles de Humberto Suazo en el 2023</h2>
                        <p class="fs-5 mb-4">Lo conseguido hasta ahora ya es estadísticamente mejor que la campaña previa a su llegada a los "Canarios". En el 2022 tuvo 27 presentaciones con la camiseta de Deportes La Serena, marcó dos tantos y terminó perdiendo la categoría.</p>
                        <p class="fs-5 mb-4">A sus 41 años, el delantero está demostrando que aún le quedan goles. "Para eso estamos. Gran parte del partido no estoy en contacto con el balón, pero estoy atento a cualquier jugada. Eso me caracterizó toda mi carrera", sostuvo Suazo, en conversación con ADN Radio.</p>
                        <!-- Videos de Twitter -->
                          <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Gol Humberto Suazo vs. Unión San Felipe. 
                          <a href="https://t.co/UUWdJ350ct">pic.twitter.com/UUWdJ350ct</a></p>&mdash; Daniel Madariaga (@mada1daniel) 
                          <a href="https://twitter.com/mada1daniel/status/1636093909762818049?ref_src=twsrc%5Etfw">March 15, 2023</a></blockquote> 
                          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          
                          <blockquote class="twitter-tweet"><p lang="es" dir="ltr">⚽🟡👉🏾 0-3, 65’ H. Suazo<br><br>Nuevamente el goleador de la visita tras una tremenda definición en el 
                            <a href="https://twitter.com/hashtag/USFvsSLxTNTSports?src=hash&amp;ref_src=twsrc%5Etfw">#USFvsSLxTNTSports</a> marcó el tercero en San Felipe. 
                            <a href="https://t.co/9o7v8pD8Wv">pic.twitter.com/9o7v8pD8Wv</a></p>&mdash; TNT Sports Chile (@TNTSportsCL) 
                            <a href="https://twitter.com/TNTSportsCL/status/1625662194909167616?ref_src=twsrc%5Etfw">February 15, 2023</a></blockquote> 
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                            <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Gol Humberto Suazo vs. Deportes Iquique. 
                              <a href="https://t.co/m8lJN8bNzN">pic.twitter.com/m8lJN8bNzN</a></p>&mdash; Daniel Madariaga (@mada1daniel) 
                              <a href="https://twitter.com/mada1daniel/status/1636094003476086786?ref_src=twsrc%5Etfw">March 15, 2023</a></blockquote> 
                              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                              <blockquote class="twitter-tweet"><p lang="es" dir="ltr">🐤🟡⚫⚽👉 1-0, 84&#39;, H. Suazo<br><br>Quien más que otro que el &quot;Chupete&quot; para abrir el marcador en el 
                                <a href="https://twitter.com/hashtag/SLvsSWxTNTSports?src=hash&amp;ref_src=twsrc%5Etfw">#SLvsSWxTNTSports</a> tras eludir y sacar un fuerte disparo con su pierna izquierda. 
                                <a href="https://t.co/v0lhyTdY2U">pic.twitter.com/v0lhyTdY2U</a></p>&mdash; TNT Sports Chile (@TNTSportsCL) 
                                <a href="https://twitter.com/TNTSportsCL/status/1635814833227538433?ref_src=twsrc%5Etfw">March 15, 2023</a></blockquote> 
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                                <section class="mb-5">
                                  <div class="card bg-light">
                                      <div class="card-body">
                                          <!-- Comment form-->
                                          <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Comenta esta noticia!"></textarea></form>
                                          <!-- Comment with nested comments-->
                                          <div class="d-flex mb-4">
                                              <!-- Parent comment-->
                                              <div class="flex-shrink-0"><img class="rounded-circle" width="50px" height="50px" src="https://tntsports.cl/__export/1668181010136/sites/cdfchile/img/2022/11/11/fotojet_-_2022-11-11t123641_355.jpg" alt="..." /></div>
                                              <div class="ms-3">
                                                  <div class="fw-bold">Matias Fernandez</div>
                                                  Me parece que está más liviano que antes. El olfato lo ha tenido siempre. Grande chupete!
                                                  <button class="btn btn-danger btn-sm ms-auto delete-comment" data-comment-id="1">Eliminar</button>
                                                  <!-- Child comment 1-->
                                                  <div class="d-flex mt-4 comment" data-comment-id="2">
                                                      <div class="flex-shrink-0"><img class="rounded-circle" width="50px" height="50px" src="https://assets-es.imgfoot.com/media/cache/1200x1200/cristiano-ronaldo-2223-al-nassr.jpg" alt="..." /></div>
                                                      <div class="ms-3">
                                                          <div class="fw-bold">Cristiano Ronaldo</div>
                                                          Siempre está donde tiene que estar y anotar
                                                          <button class="btn btn-danger btn-sm ms-auto delete-comment" data-comment-id="2">Eliminar</button>
                                                      </div>
                                                  </div>
                                                  <!-- Child comment 2-->
                                                  <div class="d-flex mt-4 comment" data-comment-id="3">
                                                      <div class="flex-shrink-0"><img class="rounded-circle" width="50px" height="50px" src="https://www.latercera.com/resizer/xN_XI2mDvpApBuVnRBUnaaCkqvM=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/QEDJUC4CRVG3JLVK4XPXTH5ASA.jpg" alt="..." /></div>
                                                      <div class="ms-3">
                                                          <div class="fw-bold">José Gutierrez</div>
                                                          Es un astro. Y lejos del micrófono y polémicas. Disfrutando el deporte. GRANDE CHUPETE!!!!
                                                          <button class="btn btn-danger btn-sm ms-auto delete-comment" data-comment-id="3">Eliminar</button>
                                                        </div>
                                                  </div>
                                              </div>
                                          </div>
                            <!-- Single comment-->
                            <div class="d-flex comment">
                              <div class="flex-shrink-0"><img class="rounded-circle" width="50px" height="50px" src="https://www.futuro.cl/wp-content/uploads/2023/03/FotoJet-5-5-768x432.jpg" alt="..." /></div>
                              <div class="ms-3">
                                <div class="fw-bold">Arnoldo Gales</div>
                                Si consideramos que el CHUPETE está para La Roja es porque no tenemos a ningún delantero que esté a su nivel, y no lo digo por desmerecer a Suazo, pero estamos mal!
                                <button class="btn btn-danger btn-sm ms-auto delete-comment">Eliminar</button>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                </section>
                <p class="mb-0  text-left"><a href="/html/posts.html" class="btn btn-primary"> Volver</a></p>
            </div>

  
  <div class="container">
    <footer class="py-3">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/html/index.html" class="nav-link px-2 text-body-secondary">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Preguntas frecuentes</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Sobre nosotros</a></li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2023</p>
    </footer>
  </div>
  
  </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>
